language: python
python:
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install . --verbose
# command to run tests
script: pytest localgraphclustering/tests/