include README.md
recursive-include localgraphclustering/src *
recursive-include localgraphclustering/src/lib/graph_lib_test *.dylib
recursive-include localgraphclustering/src/lib/graph_lib_test *
recursive-include localgraphclustering/src/lib/graph_lib_test Makefile
recursive-include localgraphclustering *.py